@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bqe4pp');
  src:  url('../fonts/icomoon.eot?bqe4pp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bqe4pp') format('truetype'),
    url('../fonts/icomoon.woff?bqe4pp') format('woff'),
    url('../fonts/icomoon.svg?bqe4pp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, 
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e900";
  cursor: pointer;
  font-weight: 900;
}
.icon-edit:before {
  content: "\e901";
  cursor: pointer;
  font-weight: 900;
}